astropy
catboost
ctgan
hydra-core
imblearn
lightgbm
lightning
loguru
numpy
optuna
pandas
scikit-learn
scikit-posthocs
jupyter
matplotlib
seaborn
plotly
pre-commit
pytest
torch
torchinfo
torch-summary
torchvision
